@import './colors/colors.scss';
@import './fonts/fonts.scss';
@import './functions/functions.scss';
@import './medidas/medidas.scss';


@mixin estilos_contenido{
    font-family: $fuente;
    font-size: 16px;
    font-weight: 400;
}
.App{
    padding: $cincuenta;
    text-align: center;
}
.card_container{
    @include flexboxColumn;
    padding: $cincuenta;
    .card_title{
        font-weight: bold;
        font-size: $veinte;
        font-family:Arial, Helvetica, sans-serif;
        padding: $veinte $veinte $cincuenta $cincuenta;
        font-size: 20px;
    }
}


.inputStyle{
    border-radius: 20px;
    background-color:$colorazul;
    color:$blanco;
    border-style: none;
    border-color:$colorazul ;
    padding: $veinte;
    margin-bottom: $cincuenta;
}

.card_information{
    background-color: rgb(216, 216, 218);
    padding: 50px;
    @include flexboxColumn;
    .card_name{
        @include estilos_contenido;
    }
    .card_ocupation{
        @include estilos_contenido;
    }
    .card_statusDead{
        @include estilos_contenido;
        background-color: rgb(255, 74, 42);
        padding:5px 30px 5px 30px;
        border-radius: 20px;
    }
    .card_status{
        @include estilos_contenido;
        background-color: rgb(122, 255, 122);
        padding:5px 30px 5px 30px;
        border-radius: 20px;
    }
    .card_img{
        padding: 20px;
    }
}
.imagen{
    width: 80vw;
    height: 100vw;
    border-radius: 10px;
}
